/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* 

celulares pequenos (galaxy fold)
@media (max-width: 480px) {}

tablets pequenos e celulares
@media (min-width: 481px) and (max-width: 768px) {}

tables grandes e monitores 
@media (min-width: 769px) and (max-width: 1279px) {}

monitores grandes 
@media (min-width: 1280px) {}

*/

/* todas as páginas */

/* header */
body {
    background-color: #070024;
    font-family: 'Anaheim';
    color: #f2f2f2;
    overflow-x: hidden;
}

@media (min-width: 0px) and (max-width: 850px) {
    header {
        padding-top: 4vh;
        width: 100%;
    }
    
    nav {
        width: 100vw;
        height: 10vh;
        display: grid;
        grid-template-areas: 
            "a a"
            "b c";
        grid-template-columns: 50%;
    }
    
    nav a {
        color: white;
    }
    
    #cardapio-header {
        grid-area: b;
    }
    
    .logo {
        grid-area: a;
        display: inline;
        text-align: center;
    }

    .nav-btn {
        text-align: center;
        text-decoration: none;
    }

    #pedido-header {
        grid-area: c;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 20rem;
    }

    .nav-btn {
        font-size: 2rem;
        padding: 0.5rem 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .logo img {
        width: 27rem;
    }

    .nav-btn {
        font-size: 3rem;
        padding: 1rem 0;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {

    header {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        position: asbolute;
        background-color: #070024;
    }
    
    header a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 40px;
        text-decoration: none;
        font-size: 250%;
    }
    
    #cardapio-header {
        margin-top: 1.5%;
        position: absolute;
        left: 0pt;
        top: 0pt;
    }
    
    #pedido-header {
        margin-top: 1.5%;
        position: absolute;
        right: 0pt;
        top: 0pt;
    }
    
    .logo {
        display: inline;
        margin: 0 0;
        padding: 0;
    }
    
    .logo img {
        width: 35%;
    } 
}

@media (min-width: 1279px) {

    header {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        position: asbolute;
        background-color: #070024;
    }
    
    header a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 40px;
        text-decoration: none;
        font-size: 250%;
    }
    
    #cardapio-header {
        margin-top: 1.5%;
        position: absolute;
        left: 0pt;
        top: 0pt;
    }
    
    #pedido-header {
        margin-top: 1.5%;
        position: absolute;
        right: 0pt;
        top: 0pt;
    }
    
    .logo {
        display: inline;
        margin: 0 0;
        padding: 0;
    }
    
    .logo img {
        width: 40rem;
    } 
}

/* landing */

@media (max-width: 950px) {
    
    .content {
        display: flex;
        flex-direction: column; 
        font-size: 2.2rem;
        text-align: center;
    }

    #main-landing {
        display: flex;
        flex-wrap: wrap;
    }

    #main-landing h1 {
        margin-top: 8vh;
        padding: 2%;
    }

    .btn-container {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        align-items: center;
    }

    .btn {
        width: 50vw;
        font-size: 2rem;
        height: 4.5vh;
        padding: 2vh 5vw;
        font-family: 'Source Sans Pro';
        font-weight: 600;
        border: 3px solid;
        border-radius: 5px;
        text-decoration: none;
    }

    #cardapio-btn {
        background-color: #ffdf00;
        color: #000;
        border-color: #ffa500;
    }
    
    #pedido-btn {
        margin-top: 2vh;
        background-color: #e12c2c;
        border-color: #a70b0b;
        color: #f2f2f2;
    }

    .detalhe {
        width: 55vw;  
        bottom: 2.5vh;
        right: 5vw;
        position: absolute;  
    }

}

@media (min-width: 951px) {
    .content {
        display: flex;
    }
    
    #main-landing {
        margin-top: 7.5%;
        width: 90vw;
        padding: 0 5vw;
    }
    
    .title {
        font-size: 312.5%;
        width: 800px;
        text-align: center;
    }
    
    .btn-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 32px;
        margin-left: 22%; 
    }
    
    .btn {
        width: 295px;
        padding: 1%;
        font-family: 'Source Sans Pro';
        font-weight: 600;
        border: 3px solid;
        border-radius: 5px;
        font-size: 250%;
        text-decoration: none;
    }
    
    #cardapio-btn {
        background-color: #ffdf00;
        margin-right: 50%;
        color: #000;
        border-color: #ffa500;
    }
    
    #pedido-btn {
        margin-top: 2%;
        background-color: #e12c2c;
        border-color: #a70b0b;
        color: #f2f2f2;
    }
    
    #aside-landing {
        position: fixed;
        right: 0pt;
        bottom: 0pt;
        width: 288px;
        padding: 40px;
    }
    
    .detalhe {
        width: 280px;
        float: right;
    }
    
    
}

/* cardapio */

@media (min-width: 0px) {
    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
    }
      
    .slick-active {
        opacity: .5;
    }
    
    .slick-current {
        opacity: 1;
        width: 200px;
        cursor: grab;
    }
    
    .slick-current:active {
        cursor: grabbing;
    }
    
    .cardapio-title {
        width: 100vw;
        text-align: center;
        font-size: 4rem;
        margin: 2vh 2vw;
        font-family: 'Source Sans Pro';
        font-weight: 600;
    }
    
    #destaque {
        width: 100vw;
    }
    
    #destaque section {
        width: 70vw;
        margin-left: 30%;
    }
    
    .sabor-destaque {
        display: flex;
        text-align: center;
        align-items: center;
        height: 50%;
        border-radius: 5px;
        margin: 0;
    }
    
    .sabor-destaque h3 {
        font-size: 2.5rem;
    }
    
    #chef {
        background-color: #ffa500;
    }
    
    #calabresa {
        background-color: #e12c2c;
    }
    
    #alcatra {
        background-color: #a70b0b;
    }
    
    .img {
        width: 80%;
        aspect-ratio: 5/3;
        border: white dashed 2px;
        margin: 16px 25% 16px 25%;
    }
    
    .secao-titulo {
        font-size: 312.5%;
        width: 23%;
        float: left;
        padding-left: 40px;
        margin-top: 5%;
    }
    
    .opcoes-container {
        display: flex;
        flex-wrap: wrap;
        font-size: 250%;
        justify-content: space-evenly;
        width: 71%;
        margin-right: 40px;
        border-radius: 5px;
        margin-top: 4%;
    }
    
    .opcoes-container p {
        text-align: center;
    }
    
    #salgadas-container {
        background-color: #ffa500;
        color: #070024;
    }
    
    #doces-container {
        background-color: #e12c2c;
    }
    
    #bebidas-container {
        background-color: #a70b0b;
    }
    
    .sabor {
        margin: 2% 5%;
    }
    
    #bebidas {
        margin-bottom: 50px;
    } 
    
    .main-cardapio {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
    }
    
}

@media (max-width: 415px) {
    
    .cardapio-title {
        font-size: 3rem;
        margin-top: 4vh;
        margin-bottom: 0;
    }

    .sabor-destaque h3 {
        font-size: 2.5rem;
    }

    .img {
        margin: 5% auto;
    }

    #destaque {
        display: flex;
        flex-direction: column;
        height: 75vw;
    }
    
    #destaque section { 
        margin: 0 1vw;
        width: 100%;
    }

    .secao-titulo {
        text-align: center;
        padding: 0;
        width: 100vw;
        margin-bottom: 2vh;
    }

    .opcoes-container {
        width: 90vw;
        margin: 5vw;
    }
}


@media (min-width: 500px) {
    .cardapio-title {
        margin-top: 0;
        font-size: 5rem;
    }

    .opcoes-container {
        margin: 2% 10%;
    }
} 

@media (min-width: 500px) and (max-width: 850px) {
    .cardapio-title {
        font-size: 5rem;
    }
    
    #destaque {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 60vh;
        margin-top: 0;
        margin-right: 0;
    }

    #destaque section {
        margin-left: 5%;
        width: 90%;
    }

    .secao-titulo {
        width: 100vw;
        margin-bottom: 2vh;
    }

    .sabor-destaque {
        height: 67vw;
    }

    .img {
        width: 90%;
        aspect-ratio: 4/3;
        margin: 2vh 4.5%;
    }

    .opcoes-container {
        width: 80%;
        margin-left: 7.5%;
        margin-right: 0;
    }

}

@media (min-width: 851px) {
    .cardapio-title {
        font-size: 4rem;
        margin: 2% 0;
    }
    
    .img {
        width: 30vw;
        margin-left: 16vw;
    }
}

/* salgada e doce */

.title-pedido {
    font-size: 312.5%;
    width: 100%;
    margin: 2% 0 1% 0;
    text-align: center;
}

.pedido-bg {
    width: 84%;
    margin: 0 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5px;
    text-align: center;
    padding: 0 5%;
}

.pedido-bg h2 {
    width: 100%;
    font-size: 300%;
    font-weight: 600;
    margin: 2% 0;
    color: #070024;
}

.opcoes {
    width: 100%;
    display: flex;
    padding-bottom: 2%;
}

.pedido-bg h3 {
    text-align: start;
    margin: 0;
    font-weight: 600;
    font-size: 160%;
}

.coluna1, .coluna2, .coluna3 {
    color: #070024;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: start;
    font-size: 150%;
    font-weight: 600;
}   

.coluna2 {
    height: 100%;
}

.coluna2 select, .coluna1 select {
    margin: 15px 0 10px 0;
    width: 80%;
    aspect-ratio: 10/1;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #979797;
    font-family: 'Source Sans Pro';
    font-size: 80%;
    padding: 1%;
}

.coluna3 {
    display: flex;
    flex-direction: column;
}

.coluna3 h3 {
    margin-bottom: 2%;
}

#nao {
    margin-top: 5%;
}

.borda h3 {
    margin: 12% 0 5% 0;
}

.subtotal {
    display: flex;
    margin: 17.5% 0;
}

.subtotal p {
    margin-left: 5%;
    font-size: 150%;
    font-weight: 600;
}

.btn-pedido {
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 2.5% 7.5%;
    font-weight: 600;
    width: 40%;
}

@media (max-width: 480px) {

    .title-pedido {
        margin-top: 2vh;
    }

    .pedido-bg {
        width: 80vw;
        padding: 2.5vh 5vw;
        margin: 3vh 5vw 15vh;
    }

    .opcoes {
        flex-direction: column;
        text-align: center;
    }

    .coluna1, .coluna2, .coluna3 {
        width: 100%;
        align-items: center;
        height: 78vw;
        margin: 0;
        padding: 0;
    }

    .coluna1 {
        height: 60vw;
    }

    .coluna3 {
        height: 40vw;
    }

    .opcoes h3 {
        margin-top: 2vh;
    }

    .subtotal {
        margin: 2vh 0;
    }

    .subtotal h3 {
        margin-top: 0;
    }

}

/* salgada */

#pedido-salgada {
    background-color: #ffa500;
}

#salgada-continuar {
    margin: 0 0 0 30%;
    background-color:#e12c2c;
    border: solid 3px #a70b0b;
    color: white;
}

@media (max-width: 480px) {
    #salgada-continuar {
        margin: 0;
    }
}

/* doce */

#pedido-doce {
    background-color: #e12c2c;
}

#pedido-doce h2, #pedido-doce h3, #pedido-doce .coluna1, #pedido-doce .coluna3 {
    color: #f2f2f2;
}

#btn-pedido-container {
    display: flex;
}

#doce-voltar {
    background-color: #ffa500;
    border: solid 3px #ffa500;
    color: #070024;
}

#doce-continuar {
    background-color: #ffdf00;
    border: solid 3px #ffa500;
    color: #070024;
}

@media (max-width: 480px) {
    #pedido-doce {
        height: 95vh;
    }

    #btn-pedido-container {
        width: 100vw;
        height: 100vh;
    }

    #doce-voltar {
        left: 27vw;
        width: 30vw;
        position: absolute;
        float: left;
    }

    #doce-continuar {
        bottom: -22vh;
        left: 22vw;
        position: absolute;
    }
}

/* bebida */

#pedido-bebida {
    width: 84%;
    background-color: #a70b0b;
    margin: 0 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    padding: 0 5%;
    padding-bottom: 3%;
}

#pedido-bebida h2 {
    width: 100%;
    font-size: 300%;
    font-weight: 600;
    margin: 2% 0 0 0;
}

.conteudo-bebida {
    width: 100%;
    display: flex;
}

.soft, .alcoolica, .subtotal-bebida {
    width: 100%;
    height: 33%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.soft h3, .alcoolica h3, .subtotal-bebida-container {
    font-size: 200%;
    font-weight: 600;
    width: 100%;
    text-align: start;
    margin-bottom: 1%;
}

.selecoes-bebida {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.selecoes-bebida select {
    margin: 5px 10px 5px 0;
    width: 30%;
    aspect-ratio: 10/1;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #979797;
    font-family: 'Source Sans Pro';
    font-size: 100%;
}

.soft input, .alcoolica input {
    margin-right: 1%;
}

.soft label, .alcoolica label {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    font-weight: 400;
    font-size: 150%;
    width: 18%;
}

.espaco {
    width: 10%;
}

.subtotal-bebida {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.subtotal-bebida-container {
    width: 20%;
    display: flex;
    padding-left: 25%;
}

#bebida-subtotal {
    margin-left: 5%;
}

#btn-pedido-container-bebida {
    width: 30%;
    height: 20%;
    padding-left: 7%;
}

.btn-bebida {
    text-decoration: none;
    font-size: 150%;
    background-color: #ffa500;
    border: solid 3px #ffa500;
    border-radius: 5px;
    color: #070024;
    font-weight: 600;
    padding: 2.5% 7.5%;
    margin: 4% 3%;
}

#bebida-continuar {
    background-color: #ffdf00;
    color: #070024;
}

@media (max-width: 480px) {
    #pedido-bebida {
        padding-top: 2vh;
        /* height: 100vh; */
    }
   
    .title-pedido {
        margin-bottom: 3vh;
    }

    #conteudo-bebida h3 {
        margin: 3vh 0 1vh 0;
    }

    .soft, .alcoolica {
        width: 100%;
        height: 33%;
    }
    
    .selecoes-bebida {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }


    .selecoes-bebida select{
        width: 83vw;
    }

    .selecoes-bebida input {
        margin: 2vh 2vw;
    }

    .selecoes-bebida label {
        width: 90%;
        margin-left: 1vw;
    }

    .subtotal-bebida-container {
        padding: 0;
        width: 50vw;
        /* justify-content: center; */
        margin-left: 10vw;
    }

    .subtotal-bebida {
        padding: 0;
        width: 50%;
    }

    #bebida-subtotal {
        margin-top: 3vh;
    }

    .btn-bebida {
        position: absolute;
    }

}


/* dados */

#dados {
    color: black;
    width: 630px;
    background-color: #ffdf00;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

#dados h2 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 250%;
    width: 100%;
    height: 10%;
    margin: 2% 0 2% 0;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.labels {
    width: 29%;
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 150%;
    padding-right: 2%;
    font-weight: 600;
}

.labels label {
    margin: 10.3% 0;
}

.inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    float: right;
}

.inputs input {
    width: 375px;
    height: 30px;
    margin: 4.8% 0;
    border: none;
    border-radius: 3px;
}

.inputs input::placeholder {
    font-family: 'Anaheim';
}

.btn-dados-container {
    display: flex;
    width: 100%;
}

.dados-btn {
    color: #f2f2f2;
    background-color: #e12c2c;
    border: #a70b0b 3px solid;
    border-radius: 5px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 180%;
    width: 25%;
    margin: 1.9% 0 2% 0;
    cursor: pointer;
    text-decoration: none;
    padding: 2% 3%;
    text-align: center;
}

#voltar-btn {
    width: 15%;
    background-color: #a70b0b;
    margin: auto 5% auto 22.5%;
} 

/* confirma */

#confirma-bg {
    width: 90%;
    margin: 4% 5% 0 5%;
    display: flex;
}   

.confirma-produto {
    padding: 1% 2%;
    width: 33%;
    font-size: 150%;
}

#confirma-salgada {
    background-color: #ffa500;
    border-radius: 5px 0 0 0;
}

#confirma-doce {
    background-color: #e12c2c;
}

#confirma-bebida {
    background-color: #a70b0b;
    border-radius: 0 5px 0 0;
}

.title-categoria {
    font-size: 200%;
    margin-bottom: 2%;
    font-weight: 600;
    text-align: center;
}

.confirma-produto h3 {
    font-weight: 600;
}

.confirma-tamanho, .confirma-sabor, .confirma-borda {
    display: flex;
}

.confirma-margem {
    margin-left: 5%;
}

.confirma-subtotal {
    text-align: center;
    font-weight: 600;
    font-size: 150%;
    margin-top: 2%;
}

.confirma-dados {
    width: 90%;
    padding: 2% 0;
    background-color: #ffdf00;
    color: #000;
    font-weight: 600;
    border-radius: 0 0 5px 5px;
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-evenly;
    font-size: 120%;
}

.tamanho-bebida {
    display: flex;
    margin-bottom: 5%;
}

.tamanho-bebida p {
    margin-left: 5%;
}

#confirma-subtotal-bebida {
    margin-top: 10.5%;
}

.abaixo {
    width: 90%;
    margin: 3% 5% 0 5%;
    display: flex;
    text-align: center;
}

.entrega, .btn-confirma-container {
    width: 33%;
}

.entrega label {
    font-size: 200%;
}

.retirada {
    margin-left: 8%;
}

.total {
    width: 17.5%;
    padding: 0 7.75% 0 7.75%;
    display: flex;
    font-weight: 600;
    font-size: 200%;
}

#total {
    margin-left: 5%;
    padding-right: 0;
}

.btn-confirma {
    text-align: center;
    text-decoration: none;
    color: #f2f2f2;
    border: #a70b0b 3px solid;
    border-radius: 5px;
    padding: 2% 7.5%;
    font-size: 180%;
    margin-left: 3%;
    background-color: #a70b0b;
    font-weight: 600;
}

#finalizar {
    background-color: #e12c2c;
}

/* final */

.final-html {
    padding: 2%;
}

#main-final {
    width: 100%;
    text-align: center;
    font-size: 200%;
}

#main-final h1 {
    font-size: 230%;
    font-weight: 600;
    margin-bottom: 3%;
}

#main-final h3 {
    margin: 1% 0 0 0;
}

#logo-final {
    width: 23%;
}
